<h1>About us</h1>

<p>This was highly wanted by my waffle, to be able to rate my ability to support the family in our trips.
    Basically my wife split our jobs pretty evenly:<br/>
    * I (the father) would go into finding places to eat, to visit and so on<br/>
    * My wife would rate me with 1 to 5 stars at the end of the trip.<br/>
</p>

<!--
<h2>Mission</h2>

<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>

<h2>Values</h2>

<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
<p><%= Faker::Lorem.paragraphs(number: 5).join.html_safe %></p>
-->
<h2>Team</h2>

<ul>
    <li>Papa (aha "The Puffin").
    <li>Mummy (aha "The waffle").
    <li>Ale (aha "The explorer").
    <li>Seby (aha "The eater").
</ul>
