<h1>boh todo Riccardo</h1>


Error during failsafe response: Missing template errors/not_found, application/not_found with {:locale=>[:en], :formats=>[:jpeg], :variants=>[], :handlers=>[:raw, :erb, :html, :builder, :ruby]}.

ActiveRecord::RecordNotFound (Couldn't find ActiveStorage::Blob with 'id'=98):
